.experience-section {
  --light: #edf1e8;
  --dark: #101010;
  width: 100vw;
  font-family: "PP Neue Montreal", sans-serif;
  position: relative;
  background-color: var(--dark);
  color: var(--light);
}

.experience-section .container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
}

.experience-section .horizontal-scroll {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  background-color: var(--dark);
}

.experience-section .horizontal-scroll-wrapper {
  position: relative;
  width: 300%;
  height: 100svh;
  display: flex;
  will-change: transform;
}

.experience-section .horizontal-slide {
  width: 100vw;
  height: 100%;
  display: flex;
  background-color: var(--dark);
  color: var(--light);
}

.experience-section .horizontal-slide .img-col {
  flex: 1.2;
  height: 100%;
  overflow: hidden;
}

.experience-section .horizontal-slide .img-col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.experience-section .horizontal-slide .text-col {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.experience-section .horizontal-slide .text-col h3 {
  font-size: 2.25rem;
  font-weight: 400;
  letter-spacing: -0.025rem;
  line-height: 1.25;
  color: var(--light);
  max-width: 85%;
}

@media (max-width: 1000px) {
  .experience-section .horizontal-slide {
    flex-direction: column;
  }

  .experience-section .horizontal-slide .img-col {
    height: 50%;
  }

  .experience-section .horizontal-slide .text-col {
    height: 50%;
    padding: 2rem;
  }

  .experience-section .horizontal-slide .text-col h3 {
    font-size: 1.35rem;
    max-width: 100%;
  }
}